.label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.input {
  border: 2px solid var(--clr-neutral-200);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;

  &:focus-visible {
    border-color: var(--clr-neutral-300);
  }
}
