@use "../../sass/abstract/mixins" as *;

.wrapper {
  --_flow-space: 1.5rem;
  display: grid;
  gap: 1.5rem;

  @include mediaQuery(40rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  height: 100%;
  cursor: pointer;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
}

.period {
  font-family: var(--ff-tertiary);
  text-align: center;
  margin-bottom: 0.5rem;
}

.amount {
  composes: period;
}

.benefits {
  line-height: 1.8;
  padding-left: 2rem;
}

.promotion {
  --_color-start: var(--clr-accent-400);
  --_color-end: var(--clr-accent-300);

  position: absolute;
  background: linear-gradient(
    45deg,
    var(--_color-start) 0%,
    var(--_color-end) 100%
  );
  padding: 0.25em 0.75em;
  border-radius: 2rem;
  color: var(--clr-neutral-100);
  font-size: 0.75rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
