@font-face {
  font-family: "infini";
  src:
    local("Infini Regular"),
    url("../../assets/fonts/infini-romain-webfont.woff2") format("woff2"),
    url("../../assets/fonts/infini-romain-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--ff-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-headings);
  text-transform: uppercase;
}

h1 {
  font-size: 1.5rem;
}

a {
  font-family: var(--ff-tertiary);
}
