@font-face {
  font-family: "infini";
  src:
    url("infini-romain-webfont.woff2") format("woff2"),
    url("infini-romain-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--ff-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
  text-transform: uppercase;
}
