.button {
  font-family: var(--ff-buttons);
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 1em 2em;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primary {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);

  &:hover {
    background-color: var(--clr-neutral-900);
  }

  &[disabled] {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-200);
    cursor: not-allowed;
  }
}

.secondary {
  border: 2px solid var(--clr-primary-400);
  background-color: transparent;
  color: var(--clr-primary-400);

  &:hover {
    border-color: var(--clr-primary-200);
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-100);
  }

  &[disabled] {
    border-color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-150);
    color: var(--clr-neutral-200);
    cursor: not-allowed;
  }
}

.small {
  font-size: 0.75rem;
}

.large {
  font-size: 1.125rem;
}
