.wrapper {
  display: inline-flex;
  align-items: center;
  background-color: var(--clr-neutral-400);
  border: 1px solid var(--clr-neutral-600);
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.5em 0.75em;
  border-radius: 2rem;
}
