.wrapper {
  --_flow-space: 1.5rem;
  position: relative;
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 1fr;
}

.item {
  cursor: pointer;
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.description {
  max-width: 55ch;
  margin-bottom: 0.75rem;
}

.icon {
  position: absolute;
  right: var(--_card-padding);
  top: var(--_card-padding);
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}
