.wrapper {
  --_card-padding: 1.5rem;

  position: relative;
  border-radius: 1rem;
  border: 2px solid var(--clr-neutral-400);
  height: 100%;
  padding: var(--_card-padding);
  transition: border-color 0.2s ease-in-out;

  &:hover,
  &:focus-within {
    border-color: var(--clr-primary-200);
  }
}

.selected {
  composes: wrapper;
  border-color: var(--clr-primary-400) !important;
  pointer-events: none;
}
