.wrapper {
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-neutral-200);
  border-bottom: 1px solid var(--clr-neutral-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  height: 2.5rem;
}

.email {
  font-family: var(--ff-tertiary);
}
