.container {
  --_max-width: 30rem;
  --_flow-space: 1rem;
}

.divider {
  --_divider-color: var(--clr-neutral-600);

  position: relative;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: "";
    height: 1px;
    flex: 1;
    background-color: var(--_divider-color);
  }
}

.dividerText {
  color: var(--_divider-color);
  padding-inline: 0.5em;
}
