.outer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.checkbox {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 1;

  &:hover ~ .inner {
    border-color: var(--clr-neutral-600);
  }

  &:checked ~ .inner,
  &:focus-visible ~ .inner {
    border-color: var(--clr-neutral-700);
  }

  &:checked ~ .inner .icon {
    opacity: 1;
    transform: scale(1);
  }
}

.inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--clr-neutral-400);
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out;
}

.icon {
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  color: var(--clr-neutral-700);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}
