.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flow > * + * {
  margin-top: var(--_flow-space, 1rem);
}

.ml-auto {
  margin-inline-start: auto;
}

.mr-auto {
  margin-inline-end: auto;
}

.mx-auto {
  margin-inline: auto;
}

.mt-auto {
  margin-top: auto;
}

.h-100 {
  height: 100%;
}

.text-center {
  text-align: center;
}
