$colors: (
  "primary": (
    400: #f0a22d,
    200: #f8d8a8,
  ),

  "accent": (
    400: #56acf5,
    300: #60c6f3,
  ),

  "neutral": (
    900: #000000,
    800: #2b2c3c,
    700: #3b414b,
    600: #d9dee5,
    400: #eef1f4,
    300: #f4f6f8,
    200: #fafafa,
    100: #ffffff,
  ),
);

:root {
  // Font face
  --ff-primary: "Barlow", sans-serif;
  --ff-secondary: "Oswald", sans-serif;
  --ff-tertiary: "infini", serif;

  --ff-body: var(--ff-primary);
  --ff-headings: var(--ff-secondary);
  --ff-buttons: var(--ff-tertiary);

  // Font weight
  --fw-regular: 400;

  //Screen sizes
  --sz-mobile: 40em;
  --sz-tablet: 48em;
  --sz-desktop: 1440px;

  // Colors
  @each $type, $variants in $colors {
    @each $variant, $color in $variants {
      --clr-#{$type}-#{$variant}: #{$color};
    }
  }
}
